<!doctype html>
<html lang="fr">
<head>
    <%- include('./header.ejs')%>
    <title>Page</title>
</head>
<body>
<%- include('./navbar.ejs')%>
<h1 class="text-center">User delete whith success !</h1>
</body>
</html>