<!doctype html>
<html lang="fr">
<head>
    <%- include('./header.ejs')%>
    <title>Test</title>
</head>
<body>
<%- include('./navbar.ejs')%>
<h1 class="text-center">Test Works !</h1>

<p>
<%= id %>
</p>
</body>
</html>