<!doctype html>
<html lang="fr">
<head>
    <%- include('./header.ejs')%>
    <title>Page</title>
</head>
<body>
<%- include('./navbar.ejs')%>
<h1 class="text-center">Utilisateur modifié avec succès !</h1>

</body>
</html>